* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

#nav-logo {
	width: 72px;
	height: 72px;
}

.nav-container {
	height: 90px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	/* border: 1px solid red; */
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav-links {
	/* border: 1px solid red; */
}

.nav-link {
	margin-left: 1.25rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: #a18bd4;
	font-size: 1.15rem;
	font-weight: 500;
	transition: color 0.15s ease-in;
}

.nav-link:hover {
	color: orange;
}
